<% layout('layout') -%>

<div class="cartcover">
<div class="container">
  <div id="container" class="row">
    <div class="col-lg-6">

      <% if (message.length > 0) { %>
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" arial-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= message %>
          </div>
          <% } %>


        <% for (var i = 0; i < foundCart.items.length; i++) { %>
          <div class="list-group">
            <span class="list-group-item">
              <div class="row">
                <div class="col-md-3">
                  <span><img class="product-image" src="<%= foundCart.items[i].item.image %>"></span>
                </div>

                <div class="col-md-6">
                  <p class="list-group-item-heading"><%= foundCart.items[i].item.name %></p>
                </div>
                <div class="col-md-3">
                  <p><strong>Quantity: </strong><%= foundCart.items[i].quantity %></p>
                  <p><strong>Price: </strong><%= foundCart.items[i].price %></p>
                  <p><strong>Points: </strong><%= foundCart.items[i].points %></p>

                  <form method="post" action="/remove">
                    <input type="hidden" name="item" value="<%= foundCart.items[i]._id %>">
                    <input type="hidden" name="price" value="<%= foundCart.items[i].price %>">
                    <input id="pointsAggre" type="hidden" name="points" value="<%= foundCart.items[i].points %>">
                    <button type="submit" type="button">Remove</button>
                  </form>
                </div>

              </div>
            </span>
          </div>

          <% } %>


        </div>

        <div id="carttotal" class="col-md-3"></div>

        <div class="col-md-3">
          <div class="list-group">
            <span class="list-group-item">
              <h4>Total Amt: $<span class="totalPrice"><%= foundCart.total %></span></h4>
              <!-- <h4>Total: <span class="totalPoints"><%= foundCart.totalPoints %></span></h4> -->
            </div>
            <div class="list-group">
              <span class="list-group-item">
                <!-- <h4>Total: $<span class="totalPrice"><%= foundCart.total %></span></h4> -->
                <h4>Points Required: <span class="totalPoints"><%= foundCart.totalPoints %></span></h4>
              </div>
              <button class="btn btn-info">Checkout</button>
          </div>

        </div>
      </div>
</div>
